.answers-list {
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
  list-style-type: none;
  user-select: none;
  font-size: 18px;

  &-item {
    margin: 20px 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    & .answer-label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      border: 1px solid gray;
      padding: 5px;
      border-radius: 50%;
      margin-right: 10px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  & .active-item {
    color: #16be00;
  }
}