.description {
  width: 100%;
  background-color: #fff;

  &-title {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    max-width: 1024px;
  }

  &-steps {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}
